.main-card {
    border-radius: 8px!important; 
    display: flex!important;
    flex-direction: row!important;
    background-color: #121318!important;
}
.sub-card {
    width: 50%;
    margin-left: 1%;
    background-color: rgb(29, 29, 37)!important;
}
.card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(255,255,255,.55);
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: 800;
}